<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.meta_data.twitter }}">
<meta name="twitter:creator" content="{{ site.meta_data.twitter }}">

<!-- disallow Twitter from using your site's info for personalization purposes -->
<meta name="twitter:dnt" content="on">