---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---
<section class="container max-w-screen-md">
  <p>Руководитель продукта в&nbsp;<a  href="https://noboring-finance.ru"><span
        class="c-link">Нескучных финансах<span></a>. Помогаю управлять бизнесом
    на&nbsp;основе цифр. Курирую <a  href="https://vk.com/neighborhood20"><span
        class="c-link">Добрососедство&nbsp;2.0</span></a>&nbsp;проект,
    который помогает улучшить свой дом, двор и&nbsp;пдъезд. Пишу подкасты, и&nbsp;не&nbsp;теряю любопытства. Пишите
    в&nbsp;Телеграм: <a  href="https://t.me/DmitriyFourier"><span
        class="c-link">https://t.me/DmitriyFourier</span></a></p>
  <p class="text-cyan-700">
    <a  href="https://twitter.com/dmitriyfourier" target="_blank" rel="noopener">
        <span class="c-link">Твиттер</span></a>
    <a class="pl-4 " href="https://www.instagram.com/dmitriyfourier" target="_blank" rel="noopener">
        <span class=" c-link">Инстаграм</span></a>
    <a class="pl-4" href="https://vk.com/dmitriyfourier" target="_blank"
      rel="noopener">
        <span class="c-link">Вконтакте</span></a>
    <a class="pl-4 " href="https://t.me/furyeru" target="_blank" rel="noopener">
        <span class="c-link">Телеграм</span></a>
  </p>
</section>
<section class=" pt-8">
    <h1 class="text-3xl font-bold">Сделал</h1>
</section>
<section class=" pt-8">
    <h1 class="text-3xl font-bold">Наговорил</h1>
</section>
<section class=" pt-8">
    <h1 class="text-3xl font-bold">Написал</h1>
</section>
