---
tags: podcasts
title: Нескучные финансы
desc_sm: Подкаст об управлении бизнесом на основе цифр
preview: noboring-finance-pod-orig.jpg
podico: nb-pod-ico.png
status: на паузе
---
<h1> Подкаст 1<h2>
    